$gray-200: #e3e3e3;
$gray-300: #b9b9b9;
$gray-400: #969696;
$gray-500: #696969;
$gray-600: #3a3a3a;
$gray-700: #292929;
$gray-800: #212121;
$gray-900: #1a1a1a;
$pink: #aa3388;

$body-width: 1024px;
$font-family: Palatino, Didot, Georgia, serif;
$h1-padding: 16px;
$h2-padding: 12px;

$nav-height: 48px;
$footer-height: 48px;
$footer-font-size: 15px;

$content-padding-x: 24px;
$content-height: calc(100vh - $nav-height - $footer-height);
$content-width: calc($body-width - 2 * $content-padding-x);

$header-height: 48px;
$header-width-sm: calc(100vw - 2 * $content-padding-x);

$inner-content-top: calc($header-height + 2 * $h1-padding);
$inner-content-height: calc($content-height - $inner-content-top);
$inner-content-padding-y: 8px;
