<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
    <script>
      const events = {{ site.data.events | jsonify }}
        .map((event, index) => ({...event, id: "event-" + index}));
      document.addEventListener("DOMContentLoaded", () => {
        renderCalendar({ events });
        renderEventList({ events });
        addEventListNavigationListeners({ events });
      });
    </script>
  </head>

  <body>
    {% include nav.html %}

    <section id="content">
      <h1 id="header">
        <span>beehive</span>
        {% include calendar_buttons.html %}
      </h1>

      <section id="inner-content">
        {{ content }}
      </section>
    </section>

    {% include footer.html %}
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>

